@charset:"UTF-8";
*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 100px;
}
body{
	font-family: "华文细黑","黑体";
    font-size: 12px;
    color: #333;
    background: #eee;
}
}
ul , ol ,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.gou_header{
	width: 100%;
	display: flex;
	justify-content:space-between;
	height: 0.4rem;
    color: #252525;
	align-items:center;
	background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
}
.gou_header h3{
	font-size: 0.16rem;
	font-weight: normal;

}
.gou_header span:first-of-type{
	width: 0.3rem;
	height: 0.3rem;
	background: url(../img/index_img/catIcon.png) no-repeat left 0rem;
    background-size: 1.2rem 1.4rem;
}
.gou_header span i{
	margin-right: 0.1rem;
	display: block;
    width: 0.2rem;
    height: 0.02rem;
    margin-bottom: 0.04rem;
    overflow: hidden;
    background-color: #666;
}
.gou_list{
	display: flex;
	background-color: #efefef;
    color: #848d96;
    border-bottom: 1px solid #ccc;
    height: 0.45rem;
}
.gou_list a{
	color: #333;
	display: flex;
	flex-direction:column;
	padding-top: 0.05rem;
	align-items:center;
	width: 25%;
}
.gou_list a i{
	display: block;
	height: 0.2rem;
	width: 0.26rem;
}
.gou_list a span{
	height: 0.18rem;
	line-height: 0.18rem;
	font-size: 0.14rem;
	color: #848d96;
}
.gou_list a:first-of-type i{
	background: url(../img/index_img/headIcon.png) no-repeat 0rem -0.05rem;
}
.gou_list a:nth-of-type(2) i{
	background: url(../img/index_img/headIcon.png) no-repeat -0.4rem -0.05rem;
}
.gou_list a:nth-of-type(3) i{
	background: url(../img/index_img/headIcon.png) no-repeat -0.75rem -0.05rem;
}
.gou_list a:last-of-type i{
	background: url(../img/index_img/headIcon.png) no-repeat  -1.115rem -0.05rem;
}
.gou_list_have{
	display: none;
}
.buycar_list{
	background: #eee;
	padding-top: 1.2rem;
}
.buycar_list_shop{
	padding-top: 0.5rem;
}
.gou_ti p{
	display: flex;
	padding-left: 2%;
	width: 98%;
	height: 0.22rem;
	background: #fff4e2;
	line-height: 22px;
    color: #ff3333;
    font-size: 0;
}
.gou_ti p span{
	height: 100%;
	width: 0.11rem;
	background: url(../img/index_img/catIcon.png) no-repeat -0.36rem 0rem;
    background-size: 1.4rem 1.62rem;

    font-style: normal;
}
.gou_ti p i{

	padding-left: 0.06rem;
	font-size: 0.12px;
}
.buycar_list_title{
	background: white;
	height: 0.46rem;
	width: 100%;
	display:flex;
	align-items:center;
	border-bottom: 1px solid #eee;

}
.buycar_list_icon{
	margin-left: 0.1rem;
	display: block;
	width: 0.25rem;
	height: 0.25rem;
	background: url(../img/index_img/catIcon.png) no-repeat -0rem -1.26rem;
    background-size: 1.45rem 1.62rem;
}
.buycar_list_title img{
	margin: 0 0.08rem 0 0.08rem;
	width: 0.15rem;
	height: 0.15rem;
}
.buycar_list_shop li{
	background: white;
	display: flex;
	border: 1px solid #eee;
	padding-bottom: 0.05rem;
}
.buycar_list_shop_cont{
	width: 100%;
	padding-left:0.08rem 
}
.buycar_list_img img{
	border: 1px solid #eee;
	display: block;
	width: 0.8rem;
}
.buycar_money_list{
	padding: 0.1rem 0.1rem 0.1rem 0;
	display: flex;
}
.buycar_money_list a h4{
	font-weight: normal;
	width: 100%;
    height: 36px;
    line-height: 18px;
    font-size: 14px;
    overflow: hidden;
    color: #333;
}
.buycar_money_list_ab{
	padding-left: 0.1rem;
	width: 100%;
}
.buycar_money_list_ab>span:first-of-type{
	background: none;
	font-size: 13px;
    color: #ff0000;
    padding: 0 0.05rem;
    height: 0.18rem;
    line-height: 0.18rem;
}
.buycar_money_list_ab>span{
	margin-bottom: 0.1rem;
	margin-right: 0.05rem;
	background:#ff704f; 
    padding: 0 0.05rem;
    height:0.03rem;
    color: #ffffff;
    line-height:0.03rem;
    font-size: 9px;
    font-style: normal;
    border-radius: 0.04rem;
}
.buycar_money_list_ab>div{
	padding-top: 0.06rem;
	width: 100%;
	display: flex;
	justify-content:space-between;
}
.buycar_money_list_ab>div p{
	display: flex;
	width: 0.75rem;
	height: 0.20rem;
	border: 1px solid #eee;
}
.buycar_money_list_ab>div p span{
	text-align: center;
	width: 0.2rem;
	height: 0.2rem;
	line-height: 0.2rem;
	font-size: 20px;

}
.buycar_money_list_ab>div p input{
	border: none;
	width: 0.32rem;
	height: 0.2rem;
	line-height: 0.2rem;
	text-align: center;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.buycar_money_list_ab>div i{
	width: 0.22rem;
	height: 0.25rem;
	background: url(../img/index_img/catIcon.png) no-repeat -0.49rem -0.78rem;
    background-size: 1.45rem 1.62rem;
}
.buycar_active {
	padding: 0.06rem 0.1rem;
	height: 0.2rem;
	padding-top: 
	width: 100%;
	text-align: right;
	font-size: 0;
}
.buycar_active a{
	font-size: 12px;
	display: inline-block;
    height:0.16rem;
    line-height:0.16rem;
    padding: 0 0.05rem;
    border: 1px solid #e8e8e8;
    border-radius: 0.02rem;
    margin-right: 0.05rem;
}
.buycar_song a h4{
	font-weight: normal;
	width: 100%;
    height: 36px;
    line-height: 18px;
    font-size: 14px;
    overflow: hidden;
    color: #333;
}
.buycar_song>div{
	display: flex;
}
.buycar_list_song{
	padding:0 0.1rem;

	width: 100%;
}
.buycar_list_song div{
	padding-right: 0.1rem;
	display: flex;
	justify-content:space-between;
	font-size: 13px;
    color: #999;
    padding: 0 0.05rem;
    height: 0.18rem;
    line-height: 0.18rem;
}
.buycar_list_song h4 span:first-of-type{
	color: #ff0000;
}
.buycar_list_shop .buycar_list_icon{
	margin-top: 0.4rem;
}
.buycar_bottom{
	display: flex;
	background: #fafafa;
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 0.5rem;
	align-items:center;
	color: #666;
}
.gou_much{
	width: 62%;
	text-indent: 0.1rem;

}
.gou_much p:first-of-type{
	line-height: 27px;
    font-size: 16px;
    color: #252525;
}
.gou_much p:first-of-type span{
	color: #ff3333;
}
.gou_much p:last-of-type{
	color: #999;
    font-size: 14px;
}
.gou_num{
	height: 0.5rem;
	width: 0.98rem;
	line-height: 0.5rem;
	color: #fff;
	background: #fd5a5b;
	font-size: 0.16rem;
	text-align: center;
}
.gou_header11{
	width: 100%;
	position: fixed;
	top: 0;
}
.gou_list_none{
	width: 100%;
	padding-top: 2rem;
	background: #eee;
}
.gou_list_none div{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

}
.gou_list_none div span{
	width: 0.62rem;
	height: 0.62rem;
	background: url(../img/index_img/kong.png);
	background-size: contain;
}
.gou_list_none div p{
	height: 0.3rem;
	color: #333;
	line-height: 0.4rem;
}
.gou_list_none div a:first-of-type{
	height: 0.2rem;
	line-height: 0.2rem;
	color: #999;
}
.gou_list_none div a:last-of-type{
	display: inline-block;
    margin-top: 0.2rem;
    height:0.24rem;
    line-height: 0.24rem;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 0.1rem;
    font-size: 12px;
    color: #666;
    border-radius: 0.05rem;
}