	<div class="index_header">
		<span></span>
		<div class="index_header_div">
			<i></i>
			<input type="text">
			<button>搜索</button>
		</div>
	</div>
	<div class="index_main">
		<div class="index_lun">
			<my></my>
			<!-- <img src="../img/index_img/df38fc3003754a5d8f3041ac6e6b1628.jpg"> -->
		</div>
	</div>
	<div class="index_list">
		<a ui-sref="wwwww">
			<img src="http://img10.jiuxian.com/bill/2016/1225/4222cad88ec147bbba64f47e91cd46f5.jpg">
		</a>
		<a href="#2">
			<img src="http://img09.jiuxian.com/bill/2016/1225/e060f5c987484dc5a00bd5a0d0f7fcb6.jpg">
		</a>
		<a href="#3">
			<img src="http://img07.jiuxian.com/bill/2016/1225/15a45957b4354030a964a7b3a2483ffd.jpg">
		</a>
		<a ui-sref="hotsell">
			<img src="http://img07.jiuxian.com/bill/2016/1225/a5226f8563f643f0bb539991517735ce.jpg">
		</a>
		<a href="#">
			<img src="http://img08.jiuxian.com/bill/2016/1225/c56816f52e644da9852eb2a060864ad5.jpg">
		</a>
		<a href="#">
			<img src="http://img09.jiuxian.com/bill/2016/1225/9380859d86af4a7aab63dba27a8bcb1d.jpg">
		</a>
		<a href="#">
			<img src="http://img10.jiuxian.com/bill/2016/1225/9b1a9e481d654c89967698cf81e46a34.jpg">
		</a>
		<a href="#">
			<img src="http://img07.jiuxian.com/bill/2016/1225/a6d475bcdec9490f891bcbf53ac93be6.jpg">
		</a>
		<a href="#">
			<img src="http://img08.jiuxian.com/bill/2016/1225/396aee9c521b4754b14c1829967510ec.jpg">
		</a>
		<a href="#">
			<img src="http://img06.jiuxian.com/bill/2016/1226/98687be48f7345ce9fe0d23e6e71e9e3.jpg">
		</a>
	</div>
	<div class="index_gun">
		<div>
		<i><img src="../img/index_img/34fa5fc0f3044062adcccc2a6d0d8581.jpg">
		</i>
			<ul>
				<li>3243334432222222222222</li>
				<li>3243334432222222222222</li>
				<li>3243334432222222222222</li>
				<li>3243334432222222222222</li>
			</ul>
		</div>
	</div>
	<div class="index_zhang">
		<div class="index_zhang_left">
			<h3>掌上秒拍</h3>
			<div>
				<span>距离结束</span>
				<i class="hour">09</i>
				<em>:</em>
				<i class="hour">54</i>
				<em>:</em>
				<i class="hour">08</i>
			</div>
		</div>
		<div class="index_zhang_right">
			<span>更多商品等你来抢！</span>
	
			<span class="index_zhang_right_bg"></span>
		</div>
	</div>
	<div class="index_zhang_list">
		<ul ng-controller="ctrHome">
			<li ng-repeat="p in miao">
				<a href="#">
					<img src={{p.proImg}}>
					<h3>{{p.proName}}</h3>
					<span>{{p.proPrice | currency:"￥"}}</span>
					<span>{{p.jxPrice | currency:"￥"}}</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="index_banner">
		<a href="#">
			<img src="../img/index_img/e01d8f9512bd4facace25b468853a2c2.jpg">
		</a>
		<a href="#">
			<img src="../img/index_img/e01d8f9512bd4facace25b468853a2c2.jpg">
		</a>
		<a href="#">
			<img src="../img/index_img/e01d8f9512bd4facace25b468853a2c2.jpg">
		</a>
	</div>
	<div class="index_reset1">
		<div class="index_reset1_left">
			<a href="#">
				<img src="../img/index_img/cce763f2a10d4edc893c4906d1becc05.jpg">
			</a>
		</div>
		<div class="index_reset1_right">
			<div class="index_reset1_right_top">
				<a href="#">
					<img src="../img/index_img/032ee7d7c0b348f8b69a8f0d5170523b.jpg">
				</a>
			</div>
			<div class="index_reset1_right_bottom">
				<a href="#">
					<img src="../img/index_img/032ee7d7c0b348f8b69a8f0d5170523b.jpg">
				</a>
			</div>
		</div>
	</div>
	<div class="index_lun2">
		<my-swiper></my-swiper>
	</div>
	<div class="index_banner">
		<a ui-sref="jieri">
			<img src="../img/index_img/d3705dc645be4116aeca5d3679f1b696.jpg">
		</a>
	</div>
	<div class="index_title">
		<a href="#">
			<img src="../img/index_img/55e2000e6ecb45829680993d86abe526.jpg">
		</a>
	</div>
	<div class="index_title_cont">
		<div class="index_title_cont_top">
			<a href="#">
				<img src="../img/index_img/4687de37f6234716a9e8195d5fe0237f.jpg">
			</a><a href="#">
				<img src="../img/index_img/4687de37f6234716a9e8195d5fe0237f.jpg">
			</a>
		</div>
		<div class="index_title_cont_bottom">
			<a href="#">
				<img src="../img/index_img/12d555c49e854aa89bcb005a10ca7904.jpg">
			</a>
			<a href="#">
				<img src="../img/index_img/12d555c49e854aa89bcb005a10ca7904.jpg">
			</a>
			<a href="#">
				<img src="../img/index_img/12d555c49e854aa89bcb005a10ca7904.jpg">
			</a>
		</div>
	</div>
	<div class="index_title">
		<a href="#">
			<img src="../img/index_img/55e2000e6ecb45829680993d86abe526.jpg">
		</a>
	</div>
	<div class="index_reset2">
		<div class="index_reset2_top">
			<div class="index_reset2_top_left">
				<a href="#"><img src="../img/index_img/87b70059e7ee4b6e9df15d80e4f020e1.jpg"></a>
			</div>
			<div class="index_reset2_top_right">
				<div class="index_reset2_top_right_top">
					<a href="#"><img src="../img/index_img/09274ebae1294b16b336b3d02acf30b1.jpg"></a>
				</div>
				<div class="index_reset2_top_right_bot">
					<a href="#"><img src="../img/index_img/d875eeb4dd2e4e3980d1732bd26dbc2f.jpg"></a>
					<a href="#"><img src="../img/index_img/d875eeb4dd2e4e3980d1732bd26dbc2f.jpg"></a>
				</div>
			</div>
		</div>
		<div class="index_reset2_bottom">
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
		</div>
	</div>
		<div class="index_reset2">
		<div class="index_reset2_top">
			<div class="index_reset2_top_left">
				<a href="#"><img src="../img/index_img/87b70059e7ee4b6e9df15d80e4f020e1.jpg"></a>
			</div>
			<div class="index_reset2_top_right">
				<div class="index_reset2_top_right_top">
					<a href="#"><img src="../img/index_img/09274ebae1294b16b336b3d02acf30b1.jpg"></a>
				</div>
				<div class="index_reset2_top_right_bot">
					<a href="#"><img src="../img/index_img/d875eeb4dd2e4e3980d1732bd26dbc2f.jpg"></a>
					<a href="#"><img src="../img/index_img/d875eeb4dd2e4e3980d1732bd26dbc2f.jpg"></a>
				</div>
			</div>
		</div>
		<div class="index_reset2_bottom">
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
		</div>
	</div>
		<div class="index_reset2">
		<div class="index_reset2_top">
			<div class="index_reset2_top_left">
				<a href="#"><img src="../img/index_img/87b70059e7ee4b6e9df15d80e4f020e1.jpg"></a>
			</div>
			<div class="index_reset2_top_right">
				<div class="index_reset2_top_right_top">
					<a href="#"><img src="../img/index_img/09274ebae1294b16b336b3d02acf30b1.jpg"></a>
				</div>
				<div class="index_reset2_top_right_bot">
					<a href="#"><img src="../img/index_img/d875eeb4dd2e4e3980d1732bd26dbc2f.jpg"></a>
					<a href="#"><img src="../img/index_img/d875eeb4dd2e4e3980d1732bd26dbc2f.jpg"></a>
				</div>
			</div>
		</div>
		<div class="index_reset2_bottom">
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
			<a href="#"><img src="../img/index_img/62dd0d533ef94f3c8a8cfb9883fd9c10.jpg"></a>
		</div>
	</div>
		<div class="index_reset2">
		<div class="index_reset2_top">
			<div class="index_reset2_top_left">
				<a href="#"><img src="../img/index_img/87b70059e7ee4b6e9df15d80e4f020e1.jpg"></a>
			</div>
			<div class="index_reset2_top_right">
				<div class="index_reset2_top_right_top">
					<a href="#"><img src="../img/index_img/09274ebae1294b16b336b3d02acf30b1.jpg"></a>
				</div>
				<div class="index_reset2_top_right_bot">
					<a href="#"><img src="../img/index_img/d875eeb4dd2e4e3980d1732bd26dbc2f.jpg"></a>
					<a href="#"><img src="../img/index_img/d875eeb4dd2e4e3980d1732bd26dbc2f.jpg"></a>
				</div>
			</div>
		</div>
		
	</div>
		<div class="index_title">
		<a href="#">
			<img src="../img/index_img/55e2000e6ecb45829680993d86abe526.jpg">
		</a>
	</div>
	<div class="index_title_main">
		<a href="#"><img src="../img/index_img/9ff7d345fc334e66af62bf1734e66dd1.jpg"></a>
		<a href="#"><img src="../img/index_img/9ff7d345fc334e66af62bf1734e66dd1.jpg"></a>
		<a href="#"><img src="../img/index_img/9ff7d345fc334e66af62bf1734e66dd1.jpg"></a>
		<a href="#"><img src="../img/index_img/9ff7d345fc334e66af62bf1734e66dd1.jpg"></a>
		<a href="#"><img src="../img/index_img/9ff7d345fc334e66af62bf1734e66dd1.jpg"></a>
		<a href="#"><img src="../img/index_img/9ff7d345fc334e66af62bf1734e66dd1.jpg"></a>
		<a href="#"><img src="../img/index_img/9ff7d345fc334e66af62bf1734e66dd1.jpg"></a>
		<a href="#"><img src="../img/index_img/9ff7d345fc334e66af62bf1734e66dd1.jpg"></a>
	</div>



	<div class="index_bao">
		<div class="index_bao_head">
			<a href="#">爆款推荐</a>
		</div>
		<div class="index_bao_body">
			<ul ng-controller="ctrHome">
				<li ng-repeat = "x in data">
					<a href="#">
						<p>
							<i class="index_bao_body_jia" ng-if="x.promo[0].name=='加价购'">加价购</i>
							<i class="index_bao_body_man" ng-if="x.promo[0].name=='满赠'">满赠</i>
							<i class="index_bao_body_shou" ng-if="x.promo[0].name=='手机专享价'">手机专享</i>
							<i class="index_bao_body_buy" ng-if="x.promo[0].name=='买赠'">买赠</i>
							<i class="index_bao_body_zhang" ng-if="x.promo[0].name=='掌上秒杀'">掌上秒杀</i>
					</p>
						<div>
							<img src={{x.commonProductInfo.imgPath}}>
							<h3>{{x.commonProductInfo.pname}}</h3>
							<div><span>{{x.commonProductInfo.actPrice | currency:"￥"}}</span><span>{{x.commonProductInfo.jxPrice | currency:"￥"}}</span></div>
						</div>
					</a>
				</li>
				
			</ul>

		</div>
	</div>
	<a href="#" class="index_BottomTotop"></a>
	<div class="index_bt">
		<p>酒仙网电子商务股份有限公司版权所有</p>
		<p>北京市经济开发区海五路科技11街数字工场</p>
		<p>400-617-9999</p>
		<a href="#">关于我们</a>
	</div>


	<div class="index_bottom">
		<a ui-sref="home" ><img src="../img/index_img/cccd8df26a754c139de800406af82178.png"></a>
		<a href="#"><img src="../img/index_img/36a49b28ec5e4cdf9dbe37988199487d.png"></a>
		<a href="#"><img src="../img/index_img/ae4a4cb29d544d0fb319176107788bb3.png"></a>
		<a ui-sref="buycar"><img src="../img/index_img/42baf46987b6460bb43b3396e9941653.png"></a>
		<a href="#"><img src="../img/index_img/cba9029a8f4444a989a2ab5aa84c6538.png"></a>
	</div>
